@import url(https://fonts.googleapis.com/css?family=Rubik+Vinyl);

body{
    display: flex;
    justify-content: center;
    background-color: #d0f0f5;
}

#main-menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#title{
    font-family: 'Rubik Vinyl';
    font-size: 48px;
    margin-top: 100px;
    color: #f93c3c;
}

#startBtn{
    font-family: 'Rubik Vinyl';
    padding: 5px 48px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #f93c3c;
    background-color: #cfccf9;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 300px;
  }
  
  #startBtn:hover {background-color: #c2b6ed}
  
  #startBtn:active {
    background-color: #C7C2FF;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  img{
    display: flex;
    width: 5%;
    padding: 2px 2px;
  }

  .grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 60%;
    height: auto;
    border-style: solid;
    border-color: #000 ;
    padding: 0.5% 0.5%;
    border-radius: 1%;
  }